# پوشه‌های سیستمی
.dart_tool/
.idea/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# پوشه ساخته‌شده توسط کامپایلر
build/

# فایل‌های تنظیمات خاص سیستم
*.iml
*.log
.vscode/

# فایل‌های سیستم‌عامل
.DS_Store
Thumbs.db
